@use '../styles/tokens' as t;

@layer redesign {
  .section-block {
    width: 100%;
    margin: 0 auto;
    padding: 90px var(--content-inline);
  }

  @media (max-width: t.$breakpoint-mobile) {
    .section-block {
      padding-top: 72px;
      padding-bottom: 72px;
    }
  }
}
